#header {
  background: rgba(0, 0, 0, 0.9);
}
.signup {
  margin-top: 6vh;
}
.signup header {
  padding: 20px;
}

#wrapper2 {
  border-radius: 0;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 2fr 2fr 1fr;
  grid-template-rows: auto;
  z-index: 1;
  min-height: 580px;
  background-color: #f2f4f8;
}
#form-container {
  background-color: #fff;
  border-radius: 0;
  width: 70%;
  grid-row: 4;
  grid-column: 2/4;
  margin: 0px auto 0px auto;
}

h3 {
  margin-top: 0%;
}
#register-form, #login-form {
  padding: 48px;
}
#register-form label {
  font-weight: bold;
}
#link {
  display: block;
  width: auto;
  text-align: center;
}
.div1 {
  z-index: 1;
}

@media only screen and (max-width: 415px) {
  /* For mobile phones: */
  #wrapper2 {
    display: grid;
    grid-template-columns: 1fr;
    height: 500px;
  }
  #form-container {
    grid-column: 1;
    height: auto;
  }
}

#about::before {
  background: #f2f2f2;
}

.form-btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* OVERLAY  */
.texter {
  background-color: rgba(0, 0, 0, 0.59);
  z-index: 9999;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  height: 100%;
  width: 100%;
  color: white;
}

/* SPINNER */
#spinner:not([hidden]) {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

#spinner::after {
  content: "";
  width: 80px;
  height: 80px;
  border: 2px solid #f3f3f3;
  border-top: 3px solid #18d26e;
  border-radius: 100%;
  will-change: transform;
  z-index: 999;
  animation: spin 1s infinite linear;
}
@keyframes spin {
  from {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
  }
}


.snrTry,.my_logo-User, .snrTry-login{
  display: flex;
  justify-content: center;
  align-items: center;
  

}

.myTry{
  width: 800px;
  background: #fff;
  border-radius: 15px;
  box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.08);
  margin-bottom: 20px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}
.myTryX{
  background: #fff;
  border-radius: 0 0 4px 4px;
  box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.08);
  margin-bottom: 20px;
}

.my_logo-User img{
  width: 130px;
  margin-top: 40px;
}
