*{
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: 'Lato', sans-serif;
}
body{
    background-color: #f2f4f8;

}
a { 
    color: #000;
    text-decoration: none; 
}
img{
    object-fit: contain;
    width: 100%;
    height: 100%;
}

/* start navbar */
.navbar{
    display: flex;
    justify-content: space-between;
    padding: 1em 3em 0px 3em;
    background-color: #ffffff;
    /* box-shadow: 0px 5px 10px rgb(181, 182, 181); */
}
.navbar ul{
    display: flex;
    justify-content: space-between;
    justify-items: center;
    align-items: center
}
.navbar ul li{
    margin-left: 3em;
}
.navbar ul button,.section_1-left button{
    color: #ffffff;
    background: rgba(24, 127, 192, 71);
    height: 40px;
    width: 120px;
    border: none;
    border-radius: 12px;
    margin-left: 5em;
    cursor: pointer;
}

/* end of navbar */
.section_1{
display: flex;
justify-content: space-between;
/* width: 100vw; */
padding: 3em;
background-color: #ffffff
}
.section_1-left{
width: 50%;
justify-items: center
}
.section_1-left-header{
    font-size: 40px;
    margin-bottom: 1em;
    text-align: center;
}
.section_1-left-text{
    padding-right: 2em;
}
.section_1-left button{
    /* background-color: blue */
    margin-top: 4em;
    margin-left: 18em 
    /* align-self: center */
}
.section_1-right{
    width: 50%;
}
.section_1-right-img{
    /* width: 400px; */
    padding-right: 2em;
}

/* end of section 1 */

.section_2{
    text-align: center;
    margin-top: 2em;
    font-size: 40px;
}
.line{
    width: 200px;
    height: 8px;
    margin: auto;
    background: rgba(24, 127, 192, 71);
}

/* end of section 2 */

.section_3{
    display: flex;
    margin-top: 1em;
    justify-content: space-evenly;
    margin-bottom: 2em;
}
.section_3-card{
    width: 20%;
    background-color: #ffffff;
    box-shadow: 0px 0px 10px rgb(181, 182, 181);
    padding: 2em;
}
.section_3-card-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2em;
}
.section_3-img{
    width: 50px;
}
.section_3-card-header-text{
    font-size: 30px;
    margin-right:1em;
}
.section_3 button{
    color: #ffffff;
    background: rgba(24, 127, 192, 71);
    height: 40px;
    width: 120px;
    border: none;
    border-radius: 12px;
    margin-top: 2em;
}
/* <!-- end of section 3 --> */
.next-line{
    width: 250px;
    margin-bottom: 0.5em; 
}
/* <!-- end of section 4 --> */
.section_5{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0 2em;
    background-color: #ffffff;
    font-size: 25px
}
.section_5-left{
    width: 50%;
}

.section_5-right{
    width: 50%;
}
.section_5-right p{
    margin-bottom: 1em;
}

/* end of section 5 */
.partner-section{
    background-color: #ffffff;
}
.first-line{
    display: flex;
    justify-content: space-around;
    padding: 2em;
}
/* end of product section */
.footer-section{
    background-image:url("img/Vector.svg");
    
}
.subscribe{
    text-align: center;
    font-size: 40px;
    padding-top: 2em;
}
.inputText{
width: 500px;
border-radius: 20px;
height: 50px;
border: 2px solid black;
padding-left: 1em;
}
.envelop{
    background-color: rgb(4, 167, 4);
    width: 250px;
    color: #ffffff;
    margin: auto;
    display: flex;
    border-radius: 10px;
    justify-content: space-between;
    align-items: center;
    padding: 0em 0.5em;
    font-size: 40px;
    margin-top: 0.5em;
}
#submit{
    border: none;
    border-radius: 10px;
    background-color: rgb(4, 167, 4);
    color: #ffffff;
    font-size: 40px;
}


footer{
    display: flex;
    justify-content: space-evenly;
    font-size: 18px;
    margin-top: 8em;

}
.footer-column-header{
    font-size: 25px;
    margin-bottom: 0.8em;
}
.footer-column ul li{
    margin-bottom: 1em;
}